* {
  margin: 0;
  padding: 0;
}
 body {
   background: #dadeff;
  /* background: linear-gradient(to right bottom, #272a41, #232639, #202232, #1c1e2a, #191a23) fixed; */
 }
 #app {
   width: 60%;
   margin: auto;
   margin-top: 6vw;
   display: flex;
 }
 .container, .entry {
   border-radius: 36px;
   background: #161842;
   /* background-image: linear-gradient(to bottom, #1a1a2c, #212137, #282843, #2f2f50, #36365c); */
   padding: 2vw;
   /* text-align: center; */
   align-items: center;
   justify-content: center;
   color: #fff;
   width: 30%;
   margin-left: 5vw;
 }
 .entry {
   /* position: relative;
   top: 3vw; */
 }
 .container::after {
   content: "";
   width: 10vw;
   height: 30vw;
   transform: rotate(60deg);
   background: rgba( 255, 255, 255, 0.02 );
   backdrop-filter: blur( 1px );
   -webkit-backdrop-filter: blur( 1px );
   position: absolute;
   top: .001vw;
   left: 30vw;
 }
 .headerImage {
   margin-top: 1vw;
   padding-left: 2vw;
 }

 .headline {
   margin-top: 2.5vw;
   font-size: 2.5vw;
   font-weight: 700;
 }
 .journal {
   font-size: 2.3vw;
   font-weight: 500;
   color: #f1c858;
 }
 .feel {
  display: block;
 }
 .myInput {
   border: none;
   background: none;
   border-bottom: 1px solid #c6c6c6;
   color: #c6c6c6;
   display: block;
   width: 16vw;
   font-size: .91vw;
   margin: 1vw;
   padding-top: 1vw;
   padding-left: 1vw;
 }
 .myInput:focus, #zip:focus {
  outline: none;
  border-width: 2px;
  box-shadow: 0px 0px 4px 2px #fff;
  transition: 300ms ease all;
}

 .myInput:active, #zip:focus {
   color: #fff;
 }
 .zip {
    margin-top: 2vw;
 }
 #zip {
   border-radius: 36px;
   font-size: .91vw;
   margin: 1vw;
   padding: 1vw;
   width: 15vw;
   background: none;
   border: 1px solid #fff;
   text-align: center;
 }
 #generate {
   border: none;
   border-radius: 10px;
   background: #ffd059;
   padding: .5vw 4.5vw;
   color: #000;
   font-size: 1.3vw;
   font-family: 800;
   margin: 1vw 2vw .2vw 2vw;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   cursor: pointer;
 }
 #generate:hover {
   background: #7062ca;
   color: #fff;
 }
 .date-container, .tempContainer, .temp_minC, .temp_maxC, .humidityC, #content {
   background: rgba( 255, 255, 255, 0.1 );
   backdrop-filter: blur( 0px );
   -webkit-backdrop-filter: blur( 0px );
   border-radius: 25px;
   padding: 2vw;
 }
 #day {
   font-size: 1.9vw;
   color: #f1c858;
   font-weight: 700;
 }
#date {
  padding-top: .5vw;
  font-size: 1.5vw;
}
#hourcontainer {
  padding-top: 1vw;
  font-size: 3.2vw;
  font-weight: 700;
 text-shadow: 0 1px 0 #ccc,
          0 2px 0 #c9c9c9,
          0 3px 0 #bbb,
          0 4px 0 #b9b9b9,
          0 5px 0 #aaa,
          0 6px 1px rgba(0,0,0,.1),
          0 0 5px rgba(0,0,0,.1),
          0 1px 3px rgba(0,0,0,.3),
          0 3px 5px rgba(0,0,0,.2),
          0 5px 10px rgba(0,0,0,.25),
          0 10px 10px rgba(0,0,0,.2),
          0 20px 20px rgba(0,0,0,.15);
}
.contentContainet, .extra, #content {
  margin-top: 1vw;
}
.title {
  font-size: 1.7vw;
  font-weight: 600;
  margin-bottom: 1.5vw;
}
 #temp {
   padding-left: .5vw;
   font-size: 3vw;
   font-weight: 700;
   text-shadow: 0 1px 0 #ccc,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
 }
.celsius {
  color: #f1c858;
  font-size: 2.2vw;
  font-weight: 600;
}
#description {
  color: #7062ca;
  font-size: 1.7vw;
  font-weight: 700;
  position: absolute;
  left: 12vw;
  top: 2vw;
}
#descriptionImage {
  position: absolute;
  left: 10.7vw;
  top: 4vw;
}
.locationContainer {
  padding-top: .5vw;
  font-size: 1.38vw;
}
.fa-map-marker {
  margin-right: .5vw;
  color: #f1c858;
  font-size: 1.3vw;
}
.extra {
  display: flex;
}
.temp_minC, .temp_maxC, .humidityC {
  text-align: center;
  padding: 1.9vw 1vw 1.9vw 1vw;
  margin-right: .8vw;
  font-size: .9vw;
  color: #7062ca;
  font-weight: 600;
}
#content {
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: center;
  font-size: 1.3vw;
  margin-left: .5vw;
}
